---
import BaseLayout from "../layouts/BaseLayout.astro";
import Scripts from "../layouts/Scripts.astro";
import '../styles/global.scss';
---

<BaseLayout>
  <div class="column project-summary sm:col-span-6">
    <div class="section h-72">
      <header>
        <h1>404</h1>
      </header>
      <h2>The page you were looking for no longer exists.</h2>
      <p><a href="/">Back to Home</a></p>
    </div>
  </div>
</BaseLayout>
<Scripts />
