---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="column sm:col-span-6">
    <div class="section active" id="web">
      <header>
        <h1>The journey is the reward</h1>
        <p>Just as transit hubs efficiently move people and cargo, I believe that websites and apps should be carefully crafted in order to seamlessly transport information and data.</p>
      </header>
      <p>I specialize in creating delightful products for agile teams that value quality and collaboration. Trusted since 2010 to help startups transform their innovated ideas into MVPs. Let's craft your next digital journey together.</p>
      <p><strong>Services:</strong> visual design, product strategy, full-stack development, data analysis.</p>
      <div class="showcase">
        <div class="preview">
          <a href="projects/shutterdial">
            <span class="preview-thumbnail" style="background-image:url('/images/web/shutterdial-thumb.jpg')"></span>
            <span class="title">
              shutterdial
            </span>
            <span class="description">
              Photo search engine where the queries are camera settings.
            </span>
          </a>
        </div>
        <div class="preview">
          <a href="projects/vlnc">
            <span class="preview-thumbnail" style="background-image:url('/images/web/vlnc-thumb.jpg')"></span>
            <span class="title">
              vlnc.co
            </span>
            <span class="description">
              Ad-free social media network with donation system.
            </span>
          </a>
        </div>
        <div class="preview">
          <a href="projects/soapy">
            <span class="preview-thumbnail" style="background-image:url('/images/web/soapy-thumb.jpg')"></span>
            <span class="title">
              Soapy
            </span>
            <span class="description">
              Project management software for the window cleaning industry.
            </span>
          </a>
        </div>
        <div class="preview">
          <a href="projects/edgecast-github">
            <span class="preview-thumbnail" style="background-image:url('/images/web/edgecast-github-thumb.jpg')"></span>
            <span class="title">
              EdgeCast Open Source
            </span>
            <span class="description">
              Repository of open-source projects.
            </span>
          </a>
        </div>
        <div class="preview">
          <a href="projects/terminal2">
            <span class="preview-thumbnail" style="background-image:url('/images/web/tianheyang-thumb.jpg')"></span>
            <span class="title">
              Terminal 2 Digicraft
            </span>
            <span class="description">
              Everything you see here.
            </span>
          </a>
        </div>
        <div class="preview">
          <a href="projects/designelement">
            <span class="preview-thumbnail" style="background-image:url('/images/web/designelementusa-thumb.jpg')"></span>
            <span class="title">
              Design Element
            </span>
            <span class="description">
              Home furniture marketing site.
            </span>
          </a>
        </div>
        <div class="preview">
          <a href="projects/fengling-elroy">
            <span class="preview-thumbnail" style="background-image:url('/images/web/fengling-elroy-thumb.jpg')"></span>
            <span class="title">
              Fengling-Elroy
            </span>
            <span class="description">
              Fashion brand and down clothing OEM.
            </span>
          </a>
        </div>
        <div class="float-fix"></div>
      </div>
    </div>
    <div class="section" id="print">
      <header>
        <h1>Print Work</h1>
      </header>
      <div class="showcase lightbox-gallery">
        <div class="preview">
          <a href="images/print/admerica.png" data-caption="Full-page magazine print ad. (8.5x11in)">
            <span class="preview-thumbnail" style="background-image:url('/images/print/admerica-thumb.png')"></span>
            <span class="title">
              Print Advertisement
            </span>
            <span class="description">
              Full-Page Ad for Industry Magazine
            </span>
          </a>
        </div>
        <div class="preview">
          <a href="images/print/holiday-meetup.png" data-caption="Event flyer for holiday meetup/recruiting event.">
            <span class="preview-thumbnail" style="background-image:url('/images/print/holiday-meetup-thumb.png')"></span>
            <span class="title">
              Event Announcement
            </span>
            <span class="description">
              Flyer
            </span>
          </a>
        </div>
        <div class="preview">
          <a href="http://farm8.staticflickr.com/7233/7178810665_219b931da2_b.jpg" data-caption="Invitation sent out to company partners to an international kitchen and bath trade show. (8.5x11in)">
            <span class="preview-thumbnail" style="background-image:url('/images/print/designelement-kbis-flyer-thumb.jpg')"></span>
            <span class="title">
              Exhibition Announcement
            </span>
            <span class="description">
              Flyer
            </span>
          </a>
        </div>
        <div class="preview">
          <a href="http://farm6.staticflickr.com/5459/7393608248_476b3ee42b_o.png" data-caption="Sample of a series of countertop signs for showroom/tradeshow display models.">
            <span class="preview-thumbnail" style="background-image:url('/images/print/designelement-kbis-sign-thumb.jpg')"></span>
            <span class="title">
              Product Overview
            </span>
            <span class="description">
              Specifications Reference
            </span>
          </a>
        </div>
        <div class="preview">
          <a href="http://farm8.staticflickr.com/7230/7182911429_93eda6eae6_b.jpg" data-caption="Flyer advertising for a German language course.">
            <span class="preview-thumbnail" style="background-image:url('/images/print/deutsch-sprache-thumb.jpg')"></span>
            <span class="title">
              German Language Course
            </span>
            <span class="description">
              Flyer
            </span>
          </a>
        </div>
        <div class="preview">
          <a href="http://farm6.staticflickr.com/5441/7368143868_d85d57c261_b.jpg" data-caption="Flyer for a colloquium at Kyushu University.">
            <span class="preview-thumbnail" style="background-image:url('/images/print/kyudai-ietoningen-thumb.jpg')"></span>
            <span class="title">
              Conference Announcement
            </span>
            <span class="description">
              Flyer
            </span>
          </a>
        </div>
        <div class="float-fix"></div>
      </div>
    </div>
  </div>
  <div class="column sidebar sm:col-span-3" id="profile-summary-twitter-feed">
    <div class="section web active" id="profile-summary">
      <h2>Profile</h2>
      <img src="images/profile.jpg" alt="Profile Picture" id="profile-pic" />
      <dl id="profile-list">
        <dd>Tianhe Yang</dd>
        <dt>Location</dt>
        <dd>Bellingham, WA</dd>
        <dt>Connect</dt>
        <dd>
          <a class="email-link" href="mailto:hi@nospam.tianheyang.com">Email&ensp;🡥</a><br/>
          <a href="https://www.linkedin.com/in/tianhe-yang-8b494322/" target="_blank">LinkedIn&ensp;🡥</a>
        </dd>
      </dl>
    </div>
  </div>
</BaseLayout>

