---
const currentYear = new Date().getFullYear().toString();
---

<footer id="footer">
  <div class="row mx-auto px-4 sm:max-w-screen-xl sm:px-8">
    <div class="relative grid grid-cols-1 sm:gap-8 sm:grid-cols-12">
      <div class="absolute inset-x-0 top-0 h-px bg-mid-gray"></div>
      <div class="column sm:col-span-3 mt-3 sm:mt-0">
        <p class="title">tianheyang.com</p>
      </div>
      <div class="column sm:col-span-3">
        <p>Terminal 2</p>
        <p>Design & Development</p>
      </div>
      <div class="column sm:col-span-3">
        <p>Powered by Linux and Espresso</p>
        <p>Driven by Passion and Purpose</p>
      </div>
      <div class="column sm:col-span-3">
        <p>&copy; 2010&mdash;{currentYear} Tianhe Yang
        <p>All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
